
.about {
    height: 100%;
    color: white;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    width: 71vw;
    margin-top: 40px;
}

.about-hedding {
    display: flex;
    justify-content: center;
    font-family: "Futura PT";
    font-weight: 900;
    letter-spacing: 0.1em;
    align-items: center;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    animation: gradient 5s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
}

.about-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-photo {
    width: 26.6vw;
}
.lenguage {
    display: flex;
    align-items: center;
    margin-top: 4vh;
}

.lenguage p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-right: 1vw;
}

.lenguage-flag img{
    width: 2.2vw;
    margin-right: 5px;
}

.lenguage-flag img:nth-child(3){
    width: 2.3vw;
}
.lenguage-flag img:last-child{
    width: 3.1vw;
    margin-right: 0px;
}

.info-about-user{
    width: 41vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.user-info-top {
    display: flex;
    margin-right: 3.6vw;
    align-items: center;
}

.top-text {
    margin-right: 3.6vw;
}

img.epam{
    width: 30vw;
}

.top-text p {
    color: #A8A8A8;
}

b {
    color: white;
}

.user-info-middle {
    display: flex;
    align-items: center;
}

.user-info-middle img {
    margin-left: 5.5vw;
    width: 40vw;
}

.middle-text {
    margin-left: 5.5vw;
}

.bottom-text {
    margin-right: 18vh;
}

.user-benefits {
    margin-top: 7vh;
    margin-left: -20px;

}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 1.7vh;
}

.check:last-child{
    margin-bottom: 3.4vh;
}

.check img {
    margin-right: 1.1vw;
}

.user-app {
    display: flex;
    justify-content: space-between;
}

.user-app-mobile {
    display: none;
}

.app-check {
    display: flex;
    align-items: center;
}

.app-check img {
    width: 2.3vw;
    margin-right: 1.3vw;
}

.app-check img:last-child {
    margin-right: 0;
}


@media (max-width: 1625px) {
    .info-about-user{
        width: 41vw;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 1625px) {
    .info-about-user{
        width: 41vw;
        font-size: 20px;
        line-height: 25px;
    }
}
@media (max-height: 1000px) {
    /* .about {
        height: 100%;
    } */
}
@media (max-width: 1340px) {
    .about {
        height: 100%;
    }
    .about-info {
        flex-direction: column;
        padding-top: 5vh;
    }
    .user-photo {
        width: 30vw;
    }
    .info-about-user {
        margin-top: 4vh;
        width: 64vw;
        font-size: 20px;
        line-height: 25px;
    }
    .user-benefits {
        margin-top: 4vh;
    }
}

@media (max-width: 840px) {
    .info-about-user {
        font-size: 16px;
        line-height: 20px;
    }

    .lenguage p {
        font-size: 18px;
        line-height: 18px;
    }

    .user-photo {
        width: 40vw;
    }
}

@media (max-width: 700px) {
    .about-hedding {
        font-size: 50px;
        line-height: 50px;
    }
    
    .info-about-user {
        text-align: center;
    }
    .user-info-top {
        flex-direction: column;
        margin-right: 0;
    }
    .top-text {
        margin-right: 0;
        margin-bottom: 3.6vw;
    }
    .user-info-middle {
        margin-top: 40px;
        flex-direction: column-reverse;
    }
    .middle-text {
        margin-left: 0;
        margin-bottom: 5.5vw;
    }
    .user-info-middle img {
        margin-left: 0;
    }
    .bottom-text {
        margin-right: 0;
    }
    .check {
        margin-bottom: 1vh;
    }
    .user-benefits {
        text-align: start;
    }
}

@media (max-width: 570px) {
    .user-app {
        display: none;
    }

    .user-app-mobile {
        display: flex;
        width: 50vw;
        height: 5vh;
        justify-content: space-between;
    }

    .app-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
}

@media (max-width: 480px) {
    .user-photo {
        width: 50vw;
    }
}

@media (max-width: 455px) {
    .about-hedding {
        font-size: 32px;
        line-height: 32px;
    }

    .about-content {
        width: 90vw;
    }
}

@media (max-width: 1024px) and (max-height: 800px) {
    .about {
        margin-top: 300px;  
    }
}



