.contact {
    height: 100vh;
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contact-content {
    width: 71vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

.contact-hedding {
    display: flex;
    justify-content: center;
    font-family: 'Angkor';
    font-weight: 400;
    letter-spacing: 0.1em;
    align-items: center;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    animation: gradient 5s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 66vw;
    text-align: center;
}

.contact-btn {
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    text-transform: uppercase;
    background: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    position: relative;
    width: 205px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 250px; 
    padding: 2px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
}

@media (max-width: 1000px) {
    .contact-hedding {
        max-width: unset;
    }
}

@media (max-width: 700px) {
    .contact-hedding {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 455px) {
    .contact-hedding {
        font-size: 32px;
        line-height: 32px;
    }

    .contact-content {
        width: 90vw;
    }
}

@media (max-height: 1000px) {
    .contact {
        height: 100vh;
        padding-top: 500px;
    }

}

@media (max-height: 900px) {
    .contact {
        height: 100vh;
        padding-top: 600px;
    }
}

@media (max-height: 800px) {
    .contact {
        height: 100vh;
        padding-top: 700px;
    }
}


