body {
    font-family: 'Goldman', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kharkiv Tone', sans-serif;
    background-color: black;
    overflow-x: hidden;
    overflow-y: visible;
}
.header {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    width: 71vw;
}

.header-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

.header-user {
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    cursor: pointer;
}

.header-nav {
    width: 331px;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: -8%;
}

.header-nav-top {
    margin-bottom: 4%;
}


.header-nav-about {
    margin-right: 9%;
}

.header-nav-skills {
    margin-right: 4%;
}

.home {
    position: relative;
    padding-top: 10vh;
    width: 64vw;
}

.home-hedding {
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    width: 60vw;
}

.home-info {
    display: flex;
    margin-top: 10vh;
    align-items: center;
    width: 64vw;
    justify-content: space-between;
}

.home-circles {
    width: 52vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-circles img{
    width: 218px;
    height: 218px;
}

.cirle-container {
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

.centered h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Kharkiv Tone';
}

.home-bg-img {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.home-bg-img img {
    height: 100%;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

@media (max-height: 900px) {
    .home-hedding {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-height: 800px) {
    .home-hedding {
        font-size: 60px;
        line-height: 60px;
    }
}


@media (max-width: 455px) {
    .container {
        width: 78vw;
    }
}

    /* .header {
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

    } */
    .home-hedding {
        font-size: 80px;
        line-height: 80px;
    }

    .home-circles img {
        width: 180px;
        height: 180px;
    }

    .centered h4 {
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        font-family: 'Kharkiv Tone';
    }

    .arrow-down img {
        width: 60px;
    }
}

@media (max-width: 1160px) {
    .home-hedding {
        font-size: 70px;
        line-height: 70px;
    }
}

@media (max-width: 1110px) {
    .home-hedding {
        font-size: 60px;
        line-height: 60px;
    }

    .home-circles img {
        width: 170px;
        height: 170px;
    }

    .centered h4 {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        font-family: 'Kharkiv Tone';
    }

    .arrow-down img {
        width: 50px;
    }

    .home-info {
        margin-top: 10vh;
        width: 71vw
    }
}

@media (max-width: 1024px) {
    .home-hedding {
        font-size: 50px;
        line-height: 50px;
    }
    .home-circles {
        width: unset;
        height: 48vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
    }

    .home-info {
        margin-top: 10vh;
        width: 71vw
    }
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }

    #burger-menu {
        display: flex;
    }
}

@media (max-width: 870px) {
    .home-hedding {
        font-size: 40px;
        line-height: 40px;
    }

    .home-info {
        margin-top: 5vh;
    }
}

@media (max-width: 580px) {
    .home {
        padding-top: 6vh;
    }
    .home-hedding {
        font-size: 36px;
        line-height: 36px;
        width: 71vw;
    }

    .home-info {
        margin-top: 4vh;
    }
}

