.projects {
    height: 100%;
    color: white;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projects-content {
    max-width: 1360px;
}

.projects-hedding {
    display: flex;
    justify-content: center;
    font-family: "Futura PT";
    font-weight: 900;
    letter-spacing: 0.1em;
    align-items: center;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    animation: gradient 5s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.projects-info {
    margin-top: 30px;
}

#projects {
    padding-top: 40px;
}

.tarkikComandSlider {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.slick-slider {
    width: 100%;
}

.slick-track {
    margin-top: 100px;
    height: 1000px;
}
.slick-dots {
    display: flex !important;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 60px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 25px; 
    padding: 6px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 1.042vw;
}
.slick-dots li button {
    display: none;
}

.slick-dots li.slick-active {
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 25px; 
    padding: 9px; 
    background:linear-gradient(90deg,#7b16ff, #2449ee); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 1.042vw;
}

.slick-prev {
    left: -20px;
    transform: rotate(180deg);
}
.slick-next {
    right: -20px;
}
.slick-arrow {
    top: 50%;
    height: 90px;
    width: 50px;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../images/projects/right.png);
    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}



.slick-slider .comandSlider__item{
    cursor: pointer;
    margin: 0;
    padding: 40px 40px 0px;
    height: 845px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
}

#slick-slider img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#slick-slider2 img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#slick-slider3 img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#slick-slider4 img {
    margin-bottom: 30px;
}

#slick-slider5 img {
    margin-top: 20px;
    margin-bottom: 30px;
}

#slick-slider7 img{
    margin-top: 90px;
    margin-bottom: 40px;
}

#slick-slider8 img{
    margin-top: 40px;
    margin-bottom: 50px;
}

#slick-slider9 img{
    margin-top: 20px;
    margin-bottom: 20px;
}

#slick-slider10 img{
    margin-top: 30px;
    margin-bottom: 20px;
}



.comandSlider__item button {
    position: relative;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.item-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 250px; 
    padding: 2px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
}

.comandSlider__item.mobile button {
    top: 20px;
}

.comandSlider__item {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0px 0px;
    height: 845px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}


.comandSlider__item::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 865px;  /* height of slider */
    inset: 0;
    border-radius: 25px; 
    padding: 7px; 
    background:linear-gradient(45deg,#6c00fa, #51ff01); 
        animation: gradient 5s linear infinite;
    background-color: #2AA5A0;
    background-size: 400% 400%;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 20px;
}

.comandSlider__item h3 {
    width: 90%;
    font-family: 'Kharkiv Tone';
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 5%;
}

.slider-text {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    margin-top: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #A8A8A8;
    animation: 2s show ease;
}
.slider-text b{
    color: white;
}

.slider-img {
    width: 80%;
}

.slider-img.hand {
    width: 30%;
}

.more-text {
    display: none;
    width: 90%;
    height: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #A8A8A8;
}

.show-more > .more-text {
    display: flex;
    animation: 2s show ease;
}

.show-more > .slider-text {
    display: none;
    animation: 2s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tarkikComandSlider.mobile {
    display: none;
}

.slick-list.draggable {
    height: 1050px;
    margin-top: -100px;
    margin-bottom: -120px;
}


.projects-btn {
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    text-transform: uppercase;
    background: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    position: relative;
    width: 50px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 250px; 
    padding: 2px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
}

@media (max-width: 1645px) {
    #slick-slider1 .slider-text {
        font-size: 14px;
    }
}


@media (max-width: 1500px) {
    .slider-text {
        font-size: 14px;
        line-height: 15px;
    }

    .more-text {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 1450px) {
    .comandSlider__item::before {
        height: 800px;
        padding: 5px;
        margin: 0px 20px;
    }

    .slick-slider .comandSlider__item {
    
        height: 800px;
    }

    .slick-dots {
        margin-top: 0px;
    }
}


@media (max-width: 1390px) {

    .slick-slider .comandSlider__item {
        cursor: pointer;
        margin: 0;
        padding: 40px 10px 0px;
        height: 845px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color: white;
    }
}

@media (max-width: 1390px) {
    .slick-slider .comandSlider__item {
        padding: 40px 13px 0px;
    }
    .slick-slider .comandSlider__item {
        height: 780px;
    }
}

@media (min-width: 1390px) and (max-width: 1450px) {
    .slick-slider .comandSlider__item {
        padding: 10px 40px 0px;
    }
    .comandSlider__item button {
        top: -40px;
        margin-top: 60px;
    }
}

@media (max-width: 1190px) {
    .comandSlider__item::before {
        margin: 0px 10px;
    }
    .comandSlider__item {
        padding: 40px 80px 0px;
    }
}

@media (max-width: 1100px) {
    .slick-next {
        right: -20px;
    }
    .slick-prev {
        left: -20px;
    }

    .comandSlider__item.desktop a {
        top: -30px;
        margin-top: 60px;
    }
}


@media (max-width: 900px) {
    .projects-hedding {
        font-size: 32px;
        line-height: 32px; 
    }
}


@media (max-width: 860px) {
    .tarkikComandSlider.mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tarkikComandSlider {
        display: none;
    }

    .slick-arrow {
        display: none !important;
    }
    .tarkikComandSlider.mobile {
        padding: 0;
    }

    .slider-text {
        font-size: 14px;
        line-height: 15px;
    }

    .more-text {
        font-size: 14px;
        line-height: 15px;
    }

    .comandSlider__item::before {
        height: 780px;  /* height of slider */
        padding: 5px; 
        margin: 0px 90px;
    }


    .comandSlider__item h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .slick-slider .comandSlider__item {
        padding: 40px 90px 0px;
        height: 720px;
    }

    .slider-text {
        width: 90%;
        height: 50%;
        justify-content: space-evenly;
    }

    .more-text {
        width: 90%;
        height: 50%;
        justify-content: space-evenly;
    }

    .comandSlider__item a {
        margin-top: 0px;
    }
}

@media (max-width: 640px) {
    .tarkikComandSlider.mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tarkikComandSlider {
        display: none;
    }

    .slick-slider .comandSlider__item {
        padding: 40px 20px 0px;
    }
    .comandSlider__item::before {
        margin: 0px 0px;
    }
    .slick-arrow {
        display: none !important;
    }
    .tarkikComandSlider.mobile {
        padding: 0;
    }
}

@media (max-width: 560px) {
    .slick-list.draggable {
        height: 880px;
        margin-top: -100px;
        margin-bottom: -50px;
    }

    .comandSlider__item::before {
        height: 700px;  /* height of slider */
        padding: 5px; 
        margin: 0px 20px;
    }

    .slider-text {
        font-size: 14px;
        line-height: 15px;
        width: 90%;
        height: 50%;
    }

    .more-text {
        font-size: 14px;
        line-height: 15px;
        width: 90%;
        height: 50%;
    }

    .comandSlider__item h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .slick-slider .comandSlider__item {
        cursor: pointer;
        margin: 0;
        padding: 40px 20px 0px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        text-align: center;
        align-items: center;
        color: white;
    }

    .slick-dots {
        margin-top: 0px;
    }
}


@media (max-width: 540px) {
    .slider-text {
        font-size: 12px;
        line-height: 12px;
    }

    .more-text {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 460px) {
    .comandSlider__item::before {
        height: 680px;  /* height of slider */
        padding: 5px; 
        margin: 30px 0px;
    }

    .slick-dots {
        margin-top: 0px;
    }

    .slick-slider .comandSlider__item {
        cursor: pointer;
        margin: 0;
        padding: 40px 20px 0px;
        height: 750px;
    }

    .comandSlider__item.mobile button {
        top: -10px;
    }
}



@media (max-width: 435px) {
    .comandSlider__item::before {
        height: 680px;  /* height of slider */
        padding: 5px; 
        margin: 30px 30px;
    }

    .slick-dots {
        margin-top: 0px;
    }

    .slick-slider .comandSlider__item {
        cursor: pointer;
        margin: 0;
        padding: 40px 30px 0px;
        height: 750px;
    }
}

@media (max-width: 390px) {
    .comandSlider__item.mobile button {
        top: 0px;
    }
}

@media (max-width: 370px) {
    .comandSlider__item.mobile button {
        top: 20px;
    }
}
