.projects {
    height: 100vh;
    color: white;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects.container {
    width: 84vw;
}

.projects-content {
    max-width: 84vw;
}

.projects-hedding {
    display: flex;
    justify-content: center;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.projects-info {
    margin-top: 30px;
}

#projects {
    padding-top: 40px;
}

.tarkikComandSlider {
    width: 57.292vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.slick-slider {
    width: 64.583vw;
}

.slick-track {
    margin-top: 100px;
    height: 1000px;
}
.slick-dots {
    display: flex !important;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    text-align: center;
    align-items: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 25px; 
    padding: 15px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 1.042vw;
}
.slick-dots li button {
    display: none;
}

.slick-dots li.slick-active {
    top: 0;
    width: 36px;
    height: 36px;
    border-radius: 25px; 
    padding: 18px; 
    background:linear-gradient(90deg,#7b16ff, #2449ee); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 1.042vw;
}

.slick-prev {
    left: -2.604vw;
    transform: rotate(180deg);
}
.slick-next {
    right: -2.604vw;
}
.slick-arrow {
    top: 50%;
    height: 90px;
    width: 50px;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../images/projects/right.png);
    background-repeat: no-repeat;
}

.comandSlider__item {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0px 0px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.slick-slider .comandSlider__item{
    cursor: pointer;
    margin: 0;
    padding: 3.2vh 40px 0px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
}

.comandSlider__item a {
    position: relative;
    width: 90%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.comandSlider__item::before {
    content: "";
    position: absolute;
    height: 70vh;  /* height of slider */
    inset: 0;
    border-radius: 25px; 
    padding: 5px; 
    background:linear-gradient(90deg,#9747FF, #5A77F6); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude; 
        margin: 0px 10px;
}

.comandSlider__item:hover {
    box-shadow: inset 141px 129px 200px rgba(0, 0, 0, 0.25);
}

.comandSlider__item h3 {
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 5%;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider-img.hand {
    width: 10vw;
    height: 25vh;
}

.slider-text {
    width: 100%;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2vh;
    line-height: 1.2vh;
    color: #A8A8A8;
}
.slider-text b{
    color: white;
}

.slider-img {
    width: 80%;
}

.tarkikComandSlider.mobile {
    display: none;
}

.slick-list.draggable {
    height: 100vh;
    margin-top: -100px;
    margin-bottom: -10vh;
}

@media (max-width: 700px) {
    .projects-hedding {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 455px) {
    .projects-hedding {
        font-size: 32px;
        line-height: 32px;
    }
}


@media (max-width: 768px) {
    .tarkikComandSlider.mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tarkikComandSlider {
        display: none;
    }

    .slick-arrow {
        display: none !important;
    }
}

@media (max-width: 705px) {
.comandSlider__item h3 {
    width: 80%;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

}
}

@media (max-width: 670px) {
.comandSlider__item h3 {
    width: 80%;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

}
}