.skills {
    height: 100%;
    color: white;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content {
    max-width: 71vw;
    margin-top: 40px;
}

.skills-hedding {
    display: flex;
    justify-content: center;
    font-family: "Futura PT";
    font-weight: 900;
    letter-spacing: 0.1em;
    align-items: center;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    animation: gradient 5s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-info {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills-circles {
    width: 71vw;
    display: flex;
    justify-content: space-between;
}

.skills-cirle-container {
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
    
}

.skill-circle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.skill-circle {
    width: 400px;
    height: 400px;
}

.skills-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills-centered p {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8vh;
    height: 360px;
    width: 71vw;
}

.experience-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 125px;
}

.experience-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 150px;
}

.experience-item {
    width: 18.1vw;
}

.experience-item img {
    margin-bottom: 2vh;
}

.experience-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 2.2vh;
}

.experience-technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 30px;
}

.experience-technologies h2{
    display: flex;
    justify-content: center;
    font-family: "Futura PT";
    font-weight: 900;
    letter-spacing: 0.1em;
    align-items: center;
    font-size: 36px;
    line-height: 36px;
    margin-right: -8%;
    text-align: center;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    animation: gradient 5s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.technologies-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.technologies-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies-left {
    display: flex;
    flex-direction: column;
}

.technologies-right {
    display: flex;
    flex-direction: column;
}

.technologies-check {
    display: flex;
    align-items: center;
}

.technologies-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
}



@media (max-width: 1800px) {
    img.skill-circle {
        width: 350px;
        height: 350px;
    }

    .skills-centered p {
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }
}

@media (max-width: 1560px) {
    img.skill-circle {
        width: 330px;
        height: 330px;
    }

    .skills-centered p {
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }

    .experience-item {
        width: 14vw;
    }

    .experience-item p {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 1480px) {
    img.skill-circle {
        width: 300px;
        height: 300px;
    }

    .skills-centered p {
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }
}

@media (max-width: 1320px) {
    /* .skills {
        height: 100%;
        color: white;
        margin-top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    img.skill-circle {
        width: 280px;
        height: 280px;
    }

    .skills-centered p {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 1240px) {
    img.skill-circle {
        width: 260px;
        height: 260px;
    }

    .skills-centered p {
        font-size: 18px;
        line-height: 18px;
    }
}

@media (max-width: 1124px) {
    .technologies-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 1140px) {
    img.skill-circle {
        width: 200px;
        height: 200px;
    }

    .skills-centered p {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 980px) {
    .technologies-text {
        width: 110%;
    }
}

@media (max-width: 900px) {
    .skills {
        height: 100%;
    }
    img.skill-circle {
        width: 220px;
        height: 220px;
    }

    .skills-centered p {
        font-size: 16px;
        line-height: 16px;
    }
    .skills-circles {
        flex-direction: column;
        align-items: center;
        height: 700px;
    }

    .experience {
        flex-direction: row;
        justify-content: space-around;
         height: 700px !important;  /* 56vh */
    }

    .experience-item {
        width: 250px;
    }

    .experience-item p {
        font-size: 18px;
        line-height: 18px;
    }

    .experience-top {
        display: flex;
        flex-direction: column;
        height: 700px;
        width: 300px;
        align-items: center;
    }

    .experience-bottom {
        display: flex;
        flex-direction: column;
        height: 700px;
        width: 300px;
        align-items: center;
    }

    .experience-item img {
        margin-bottom: 2vh;
    }

    .technologies-text p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
    }
}


@media (max-width: 700px) {
    .skills-hedding {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
}

@media (max-width: 680px) {
    .experience-top {
        width: 200px;
    }

    .experience-bottom {
        width: 200px;
    }

    .experience-bottom .experience-item:first-child img {
        width: 100px;
        height: 35px;
    }

    .experience-item {
        width: 200px;
    }

    .technologies-text {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .experience-technologies h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .technologies-text p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 700px) {
    .experience-technologies {  
    }
    .technologies-text  {
        flex-direction: column;
    }
    .technologies-left {
        width: 300px;
        justify-content: center
    }

    .technologies-right {
        width: 300px;
    }
    .technologies-check {
        margin-left: 90px;
    }
    .technologies-title {
        margin-left: -100px;
    }
}


@media (max-width: 455px) {
    .skills-hedding {
        font-size: 32px;
        line-height: 32px;
    }

    .skills-content {
        max-width: 90vw;
    }

    .technologies-text p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 440px) {
    .experience-item p {
        font-size: 16px;
        line-height: 16px;
    }

    .experience-item {
        width: 120px;
    }
}


